<h1>Edit this Project</h1>

<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Shareable App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :short_description %>
    <%= f.text_field :short_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.submit 'Edit Project', class: 'btn btn-primary' %>
  </div>
<% end %>
