<h1>Projects</h1>

<%= link_to 'Create Project', new_project_path %>

<% @projects.each do |project| %>
  <h3><%= link_to project.title, project_path(project) %></h3>
  <h4><%= project.short_description %></h4>
  <%= image_tag project.image unless project.image.nil? %>
  <%= link_to 'Edit', edit_project_path(project) %>
  <%= link_to 'Delete project', project_path(project), method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
