<%= image_tag @project.image %>

<h1><%= @project.title %></h1>

<em><%= @project.short_description %></em>

<p><%= @project.description %></p>

<hr>

<h3>Project FAQ's</h3>

<%= link_to 'Add faq', new_project_faq_path(@project) %>

<% @project.faqs.each do |faq| %>
  <h5><%= faq.question %></h5>
  <p><%= faq.answer %></p>
  <p><%= link_to 'Edit', edit_project_faq_path(@project, faq) %></p>
<% end %>
